.selectableBox:hover {
    cursor: pointer;
}

.selectableBox .icon {
    border: 3px solid transparent;
    background-color: #F4F4F4;
    margin-bottom: 12px;
}

.selectableBox .icon:hover {
    border-color: #0078D7;
}

.selectableBox .icon .selection {
    padding: 12px 12px 6px;
    text-align: right;
    visibility: hidden;
}

.selectableBox .content {
    padding: 0 58px 38px;
}

.selectableBox .description {
    font-size: 1.375em;
    font-weight: 600;
    text-align: center;
}


.selectableBox .icon.selected {
    border-color: #0078D7;
}

.selectableBox .icon.selected .selection {
    visibility: visible;
}