.login ul li {
    list-style-type: none;
    margin-bottom: 12px;
}

.login button {
    font-size: 1em;
    font-weight: 400;
    padding: 14px 16px;
    min-width: 240px;
    text-align: left;
}

.login button.microsoft {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.login button.gitHub {
    background-color: #333;
}

.login button.google {
    background-color: #DB4C3F;
}

.login button.facebook {
    background-color: #3D5A96;
}

.login .logo {
    margin-right: 16px;
    vertical-align: middle;
}